html, body{
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
}

#heading {
    width: 100%;
    height: 30%;
    background-color: #1D2f3e;
}

#projects {
     width: 100%;
    height: 70%;
    background-color: #1aa1c1;
}

img{
    max-height: 30%;
    max-width: 30%;
    position: absolute;
    top:100px;
    left: 50px;
}

#my_name{
    color:#c9e1c1;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    left: 280px;
    top: 150px;
}