html, body{
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
}

#heading {
    width: 100%;
    height: 30%;
    background-color: #1D2f3e;
}

#projects {
     width: 100%;
    height: 64%;
    background-color: #1aa1c1;
}

#navigaiton{
    width: 100%;   
    height: 6%;
    background-color: #0f7898;
   
}

img{
    border: 1px solid #1aa1c1;
    border-radius: 4px;
    max-height: 30%;
    max-width: 30%;
    position: absolute;
    top:80px;
    left: 60px;
}

#my_name{
    color:#c9e1c1;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    left: 280px;
    top: 150px;
}

.menu_item_div{
    margin-top: 1px;
     display: inline-block;
    background: #bbd9f7;
    border-radius: 2px;
}

.menu_items {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    min-height: 30px;
   
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
   
}
#navigation_items{
    padding-left: 40px;
    margin-left: 20px;
    width: 70%;
    margin: 0 auto;
     
}

