html,body{
    width: 100%;
    height: 100%;
    margin: 0;
}

#main{
     width: 100%;
    height: 100%;
}

#detailswrapper{
    width: 100%;
     height: 100%;
    
}

#head1{
    background-color: #d9411e;
    width: 100%;
    height: 25%;
}

#head1mid{
     width: 50%;
    height: 100%;
    margin-right: auto;
   
}

#body2{
    width: 100%;
    height: 75%;
    background-color: #333333;
}

#body2mid{
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}



#navigation{
    width: 70%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
}

#details{
    background-color: #333333;
    height: 90%;
    width: 100%;
}

.btn btn-default{
    background-color: #e05151;
}



p{
     margin: 0px;
    padding: 0px;
    color: #ffd452;
}

h1 {
    margin: 0px;
    padding: 0px;
    color: #e05151;
}

#divheadimage{
    width: 40%;
    height: 100%;
    float: left;
}

#divheaddetails{
    width: 60%;
     position: relative;
    top:60px;
    height: 100%;
    float: right;
}

#propic{
    max-width: 100%;
    max-height:100%;
    display: block;
   border: 5px solid #d9411e;
    position: relative;
    top:60px;
    margin-left: auto;
    margin-right: 20px;
}